@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary-orange-color: #FF330A;
  --secundary-orange-color: #FF542F;
  --primary-white-color: #FFFFFF;
  --primary-grey-color: #E5E5E5;
  --rgb-primary-dark-color: rgba(46, 46, 46, 1);
  --rgb-secundary-dark-color: rgba(46, 46, 46, 0.4);
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
